<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find navigation)/maps/empty_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find occupancy)/rviz/nav.rviz">
    </node>
    <!-- move_base -->
    <include file="$(find navigation)/launch/move_base.launch"/>
    
</launch>