<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_imu_broadcaster" args="-0.1 0.04 0.4 0 0 0 base_link imu_link"/>
        <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_imu_broadcaster" args="-0.1 0.04 0.4 0 0 0.175 base_link imu"/> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_hokuyo_broadcaster" args="0.55 0.0 0.52 0 0 0 base_link laser"/>   
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_gps_broadcaster" args="-0.4 0.0 0.74 0 0 0 base_link gps"/>
<!-- 0.349065925202812 
/odometry/filtered/pose/pose/position/
 -->
</launch>